* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(7, 8, 40); */
}


/* container开始 */

.container {
    overflow: hidden;
    width: 100%;
    /* background-image: url('./img/bg.jpg'); */
    position: relative;
}


/* 返回箭头 */

.container #con-2 {
    width: 7%;
    position: absolute;
    top: 6%;
    left: 5%;
}

.container #con-2:hover {
    border-left: 3px solid rgba(8, 16, 63, 0);
}

.container img {
    width: 100%;
}

.container .list {
    width: 16%;
    position: absolute;
}

.container #center {
    position: absolute;
    top: 80%;
    left: 40%;
}

.container #left {
    position: absolute;
    top: 20%;
    left: 10%;
}

.container #right {
    position: absolute;
    top: 20%;
    left: 75%;
}

.container .list ul li {
    margin-top: 5px;
    text-decoration: none;
    list-style: none;
}

.container .list ul li:hover {
    border-left: 3px solid rgba(8, 16, 63, 0);
}

.container .list ul li:first-child:hover {
    border-left: none;
}