* {
    margin: 0;
    padding: 0;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 顶部开始 */

.bigbox {
    width: 100%;
    background-color: #eee;
}


/* 头部以及返回按钮
 */

.top {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    background-color: rgba(39, 45, 102, 0.722);
}

.top .nav a {
    margin-top: 5px;
    text-decoration: none;
    color: #ddd;
}


/* top-2以及标题
 */

.top-2 {
    width: 100%;
    height: 45px;
    padding-top: 5px;
    background-color: rgba(232, 232, 232, 0.722);
}

.top-2 .nav h3 {
    margin-top: 10px;
    margin-left: 140px;
    /* text-decoration: none; */
    color: rgb(52, 52, 52);
}


/* container开始 */

.container {
    margin-top: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;
    /* background-image: url('./img/bg.jpg'); */
    position: relative;
}

.container .wrap {
    width: 60%;
    height: 1200px;
    margin-left: 11%;
    overflow: hidden;
    position: relative;
}

.container .wrap .list {
    margin: 20px auto;
}

.container .wrap ul>li {
    list-style: none;
    float: left;
    margin-left: 30px;
}


/* 综合排障工单标题 */

body .bigbox .container .wrap div {
    margin: 25px 0;
}

body .bigbox .container .wrap .box {
    width: 100%;
    display: inline-flexbox;
}

body .bigbox .container .wrap .box .box1 {
    /* background-color: aquamarine; */
    width: 90%;
    height: 40px;
    /* border-bottom: 2px solid rgb(96, 103, 147); */
    text-indent: center;
    line-height: 40px;
    display: inline-block;
}


/* 详情 */

.container .wrap .img img {
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
}


/* 侧边栏固定 */

.container .slide-wrap {
    position: fixed;
    right: 20px;
    top: 15px;
}


/* botto-item */

.container .wrap .bottom-item ul>li {
    list-style: none;
    width: 75px;
    height: 30px;
    background-color: rgb(87, 93, 138);
    color: #ddd;
    border-radius: 5px;
    line-height: 30px;
}

table {
    margin-left: 40px;
}

.container .wrap .weitijiao a {
    position: absolute;
    top: 80px;
    right: 20px;
    color: blue;
}


/* container结束 */