* {
    margin: 0;
    padding: 0;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* container开始 */

.container {
    overflow: hidden;
    width: 100%;
    /* background-image: url('./img/bg.jpg'); */
    position: relative;
}


/* 背景图片 */

.container #con-0 {
    width: 100%;
}


/* 标题 */

.container #con-1 {
    width: 60%;
    position: absolute;
    top: 3%;
    left: 22%;
}

.container #con-2 {
    width: 10%;
    position: absolute;
    top: 6%;
    left: 5%;
}

.bigbox .container .list img {
    width: 16%;
}

.bigbox .container .list {
    width: 100%;
    position: absolute;
    /* left: 80px; */
    /* top: 200px; */
    left: 5%;
    top: 30%;
}

.container .list ul li {
    margin-top: 5px;
    text-decoration: none;
    list-style: none;
}

.container .list ul li:hover {
    border-left: 2px solid rgba(8, 16, 63, 0);
}